@import "elements/varibles";


@media only screen and (min-device-width : 319px) and (max-device-width : 767px) and (orientation : portrait) {
    /* Styles */
  
    // HEADER
    .logo{
      position: absolute;
      left: 35%;
      transform: translateX(-50%);
      top: 20px;
      height: 22px;
      width: 117px;
  }
  .bucket{
    position: absolute;
    right: 8%;
    top: 22px;
  }
      .nav-link{
        color: black !important;
        margin-left: 1em;
        position: relative;
        display: block;
        transition: .5s;
        padding-bottom: 1px;
        z-index: 1;
        &:before {
      
        
            border-bottom:none;
         
            opacity: 0;
            transition: 0s;
          }
      
          &:before {
        
            border-bottom: none;
          
            transition: 0s;
          }
    }
   
  .glider-button{
    z-index: -10;
  }
    // SLIDER
    .product {
      margin-right: -10px;
    }
    
    // GALERY
  .grid-small-image {
    background-image: url("https://via.placeholder.com/380x310");
    @include background-img-position;
      height: 310px;
    border: none;
    margin: 5px 5px !important;
  }
  .grid-medium-image {
    background-image: url(https://via.placeholder.com/769x310);
    @include background-img-position;
    margin: 5px !important;
    //border: none;
    height: 310px;
  }
  
  .grid-big-image{
    background-image: url("https://via.placeholder.com/547x630");
    @include background-img-position;
    height: 547px;
    margin: 5px 20px !important;
    border: none
  }
  .text-center-caption {
   @include standard-font;
    color: $second-grey
  }
  
  // INPUT 
    input {
      @include standard-font;
      height: 25px;
      padding: 10px 10px 10px 5px;
      width: 90vw;
    }
  
  
  // FOOTER
  .footer{
    margin-top: 160px;
  }
  
  .social-icon{
    margin-right: 30px;
  }
  .policy-holder  {
  
  
   .policy-item:nth-child(2) {
    margin: 0 5px;
  
   }
  }
  .policy-item{
    white-space: nowrap;
    font-size: 14px;
    @include heavy-font;
    text-decoration: none;
  }
  
  
  .nation-changes-holder{
    margin: 30px 0 !important;
  }
  .nation-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    display: inline-flex;
  }
    .changes-name{
      color: #858585;
      margin-right: 5px;
    }
  .copyrights{
    margin-top: 64px;
    margin-bottom: 14px;
  }
  
  .copyright-signature{
   @include standard-font
  }
    .eclypse {
      z-index: -1;
  
    }
  
  }
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      //SLIDER
  
  
      .product-info{
        margin-top: -60px;
        margin-left: 10px;
        z-index: 10;
      }
  
      .glider-button {
        z-index: -5;
      }
  
      //FORM
      input {
        @include standard-font;
        height: 25px;
        padding: 10px 10px 10px 5px;
        width: 70vw;
      }
  
  
  
      .policy-holder {
        .policy-item:nth-child(2) {
          margin: 0 10px;
  
        }
      }
  
  
  
      .nation-container {
  
        display: flex;
        flex-wrap: wrap;
      }
  
  
      .eclypse {
        top: 50%;
        right: 1px;
  
      }
  
  
  
  
    }
    
    @media only screen and (min-device-width : 1023px) and (max-device-width : 1199px) {
      .product-info{
        margin-top: -80px;
        padding-top: -10px;
        margin-left: 10px;
        z-index: 10;
      }
      .eclypse {
        top: 50%;
        right: 1px;
  
      }
    }
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      /* Styles */
    }
  
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
  
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 14px) and (max-width: 1600px){
    /* Styles */
      .glider-prev{
        position: absolute;
        z-index: -1;
        left: 5%;
        top: 50%;
      }
      .glider-next{
        position: absolute;
        z-index: -1;
        right:  5%;
        top: 50%;
      }
    }
  .eclypse {
    top: 50%;
    right: 1px;
  
  }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
  
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
  
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
  
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
  
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
  